
    <div class="page-title">
        <h4>История заказов</h4>
        <button 
          class="btn btn-small" 
          data-tooltip="Открыть фильтр"
          data-position="left"
          #tooltip
          [ngClass]="{
            'active': isFilterVisible,
            'red': isFiltered()
          }"
          (click)="isFilterVisible = !isFilterVisible"
        >
            <i class="material-icons">filter_list</i>
        </button>
    </div>

<app-history-filter 
    *ngIf="isFilterVisible"
    (onFilter)="applyFilter($event)"
>
</app-history-filter>

<div *ngIf="!reloading; else reloadingBlock">
    <div *ngIf="orders.length > 0; else empty">
        <app-history-list [orders]="orders"></app-history-list>
        <div
            class="center mb2"
            *ngIf="!noMoreOrders"
        >
            <button 
                class="btn waves-effect grey darken-1 btn-small"
                (click)="loadMore()"
                *ngIf="!loading; else loader"
            >
                Загрузить еще d  d 
            </button>
            <ng-template #loader>
                <app-loader></app-loader>
            </ng-template>
        </div>
    </div>
    <ng-template #empty>
            <app-loader></app-loader>
        </ng-template>
</div>
<ng-template #reloadingBlock>
    <div class="center">No orders</div>
</ng-template>

   

